<button class="duty-overlay-item" {{action this.submitAction}}> 
  {{fa-icon 
    @icon 
    class=(concat "duty-icon " @icontype) 
    size="2x" 
  }} 
  {{@title}}
</button>
<button class="duty-overlay-item" {{action this.closeAction}}> 
  {{fa-icon 
    "times-circle" 
    class="duty-icon cancel" 
    size="2x" 
  }} 
  Cancel
</button>