{{#each sourceData as |occasion|}}
  <SubHeader 
    @title={{moment-format occasion.when "MMMM DD, YYYY HH:mm"}}
  />
  {{#each occasion.roles as |role|}}
    <RoleSummarizer 
      @occasion={{occasion}}
      @role={{role}} as |duty|
    >
      <div class="duty-row-wrapper">
        <DutyRow 
          @duty={{duty}} 
          @clicked={{action this.clicked role occasion attendance}}
          @held={{action this.held role occasion attendance}}
        />
        {{#if (eq this.overlay.role role.id) }}
          <DutyOverlay 
            @title={{this.overlay.title}}
            @icon={{this.overlay.icon}} 
            @icontype={{this.overlay.icontype}} 
            @submission={{action this.submitChange role}}
            @closure={{action this.cancelChange}}
          />
        {{/if}}
      </div>
    </RoleSummarizer>    
  {{/each}}
{{/each}}
