<main class="page-frame" {{did-insert this.inserted}} {{recognize-gesture "tap" "long-press"}} >
  {{#each @sourceData as |occasion|}}
    <SubHeader 
      data-test={{occasion.when}} 
      @title={{moment-format occasion.when "MMMM DD, YYYY HH:mm"}}
    />
    {{#each occasion.roles as |role|}}
      <RoleSummarizer 
        @occasion={{occasion}}
        @role={{role}} as |duty|
      >
        <div class="duty-row-wrapper">
          <DutyRow 
            @duty={{duty}} 
            @clicked={{fn this.clicked role occasion}}
            @held={{fn this.held role occasion}}
          />
          {{#if (eq this.overlay.role role.id) }}
            <DutyOverlay 
              @title={{this.overlay.title}}
              @icon={{this.overlay.icon}} 
              @icontype={{this.overlay.icontype}} 
              @submission={{fn this.submitChange role}}
              @closure={{this.cancelChange}}
            />
          {{/if}}
        </div>
      </RoleSummarizer>    
    {{/each}}
  {{/each}}
</main>