<button 
  data-test={{@model.short_name}}
  class="roster-row {{if this.isAlternate "alternate"}} {{if this.isHistorical "historical"}}"
  type="button"
  {{on "click" (fn this.selection this.model.short_name) }}
  {{on "tap" (fn this.selection this.model.short_name) }}
>
  <span class="roster-row-left">{{@model.short_name}}</span>
  <span class="roster-row-right">{{@model.full_name}}</span>
</button>