{{#if itempress}}
  <button 
    class="selection-item" 
    {{action itemclick on="tap"}}
    {{action itempress on="longPress"}}
  >
    {{fa-icon icon}}
    <div class="selection-item-text">{{text}}</div>
  </button>
{{else}}
  <button 
    class="selection-item" 
    {{action itemclick on="tap"}} 
  >
    {{fa-icon icon}}
    <div class="selection-item-text">{{text}}</div>
  </button>
{{/if}}
