<div class="page">

  <h2 class="supertitle">First Church Deacons</h2>
  {{duties-header 
    title=title 
    icon="calendar-alt" 
    iconclick=(action clickCalendar)
  }}

  {{outlet}}

  {{#selection-bar}}
    {{selection-item 
      text="Me" 
      icon="user" 
      itemclick=(action clickMyDuties) 
      itempress=(action clickNewMe) 
    }}
    {{selection-item 
      text="Family" 
      icon="bed" 
      itemclick=(action clickFamilyDuties)
    }}
    {{selection-item 
      text="All" 
      icon="users" 
      itemclick=(action clickAllDuties)
    }}
    {{selection-item 
      text="Subs" 
      icon="exchange-alt" 
      itemclick=(action clickDutySubstitutions)
    }}
    {{selection-item 
      class="any-user"
      text="Any" 
      icon="user-plus" 
      itemclick=(action clickAnyPersonDuties)
    }}
  {{/selection-bar}}

</div>
