<Header 
  @title="Roster" 
  @iconclick={{this.clickReturn}} 
/>

<main>
  <SearchBar @searchtext={{this.searchtext}} />

  <RosterList class="page-frame">
    {{#each this.candidates as |participant| }}
      <RosterRow 
        @model={{participant}} 
        @selection={{this.clickReturn}} 
      />
    {{/each}}
  </RosterList>
</main>

<NavigationBar>
  <NavigationItem 
    data-test="Back"
    @text="Back" 
    @icon="users" 
    @itemclick={{fn this.clickReturn undefined}}
    @itempress={{fn this.clickReturn undefined}}
  />
</NavigationBar>
