<Header 
  @title="Roster" 
  @iconclick={{this.clickReturn}} 
/>

<main>
  <SearchBar @searchtext={{this.searchtext}} />

  <RosterList class="page-frame">
    {{#each candidates as |participant| }}
      <RosterRow 
        @model={{participant}} 
        @selection={{this.clickReturn}} 
      />
    {{/each}}
  </RosterList>
</main>

<NavigationBar>
  <NavigationItem 
    @text="Back" 
    @icon="users" 
    @itemclick={{this.clickReturn}}
  />
</NavigationBar>
