<button 
  class="duty-row {{if @duty.historical "historical"}} " 
  tabindex="0"
  type="button"
  data-test-icon={{@duty.icontype}}
  data-test-type={{@duty.type}}
  data-test-subtype={{@duty.subtype}}
  data-test-names={{@duty.names}}
  {{on "tap" @clicked}}
  {{on "longpress" @held}}
>
  <FaIcon @icon={{@duty.iconimage}} class={{concat "duty-icon " @duty.icontype}} @size="2x" />
  <div class="duty-row-group">
    <div class="duty-row-type">{{@duty.type}}</div>
    <div class="duty-row-subtype">{{@duty.subtype}}</div>
  </div>
  {{#if @duty.names}}
    <div class="duty-row-names">{{@duty.names}}</div>
  {{/if}}
</button>